@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

/*All Selectors*/
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Body*/
body 
{
    width:100%;
    background-image:url('images/background.jpg'),linear-gradient(rgba(0, 0, 0,1), rgba(0, 0, 0, 1));
    background-repeat: no-repeat;
    background-size: cover;
}

/*Titles*/
.titles
{
    color:#fff;
    text-align: center;
    margin-top:2rem;
    text-shadow: 7px 7px 7px black;
}

.titles h1 
{
    font-family: 'Raleway', sans-serif;
}

.titles h5
{
    font-family: 'Poppins', sans-serif;
}

/*Questions*/
.questions
{
    width:100%;
    max-width: 100%;
    margin-top:3rem;
    overflow-x: hidden;
    padding-left:1.5rem;
}

.questions .card 
{
    width:600px;
    height:300px;
    margin-bottom: 1rem;
}

.questions .card-body 
{
    position:relative;
    height:100px;
    z-index:1;
}

/*Wave Background*/
.custom-shape-divider-top-1694297142 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index:-1;
}

.custom-shape-divider-top-1694297142 svg {
    position: relative;
    display: block;
    width: calc(159% + 1.3px);
    height: 100px;
    z-index:-1;
}

.custom-shape-divider-top-1694297142 .shape-fill {
    fill: #B0EEED;
}

/*Questions Contents*/
.card-body .question-title h4
{
    font-family: 'Poppins', sans-serif;
}

.card-body .question-content
{
    font-size:17px;
}

.card-body .answers-content
{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.card-body .answers-content button
{
    width:250px;
    height:35px;
    border:none;
    outline:none;
    border-radius:25px;
    background-color:lightgray;
    cursor: pointer;
}

.card-body .answers-content button:hover
{
    background-color: darkslategray;
    color:white;
}

.card-body .answers-content button.selected
{
    background-color: #555;
    color:white;
}

/*Button Group*/
.button-group
{
    display: flex;
    justify-content: center;
    margin-top:2rem;
}

.button-group button
{
    padding:10px 30px;
    border:none;
    outline:none;
    border-radius:25px;
    color:black;
    cursor:pointer;
    transition:all 400ms linear;
}

.button-group button:hover 
{
   background-color:lightskyblue;
   color:white;
   transform:scale(1.10,1.10);
   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/*Footer*/
footer
{
    background-color: #fff;
    color:black;
    height:4rem;
    position: relative;
    bottom:-1.5rem;
}

footer span
{
    font-size:15px;
    font-family:'Poppins', sans-serif;
    padding-left:1rem;
}

footer .brands
{
    font-size: 25px;
    margin-right:1rem;
    cursor: pointer;
    transition: all 500ms linear;
}

footer .brands:hover
{
    color:black;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*Responsive Layout's*/
/*Telephone*/
@media screen and (max-width:767px) {
    .questions
    {
        padding-left:0;
    }

    .questions .card 
    {
        max-width:100%;
    }

    .custom-shape-divider-top-1694297142 svg {
        width: calc(159% + 1.3px);
        height: 172px;
    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .questions
    {
        padding-left:0.5rem;
        padding-right:0.5rem;
    }

    .questions .card 
    {
        width:100%;
    }
    
    .custom-shape-divider-top-1694297142 svg {
        width: calc(139% + 1.3px);
        height: 197px;
    }
    
}

/*Desktop*/
@media screen and (min-width:1024px){
    .questions
    {
        padding-left:0.5rem;
        padding-right:0.5rem;
    }

    .questions .card 
    {
        width:100%;
    }
}
